{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <div id="cart-items">
        {% for cart_item in cart_items %}
            {% include 'pieces/cart_item_card.html.twig' with { 'cart_item': cart_item } %}
        {% endfor %}
    </div>

    <div id="cart-action-buttons">
        <a href="{{ path('order_create') }}" class="btn btn-primary create_order-btn">Оформить заказ</a>
        <a href="{{ path('order_my_orders') }}" class="btn btn-success create_order-btn">Мои заказы</a>
    </div>
{% endblock %}
