{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    {{ include('@EasyAdmin/flash_messages.html.twig') }}
    <div id="cart-items">
        {% for cart_item in cart_items %}
            {% include 'pieces/cart_item_card.html.twig' with { 'cart_item': cart_item } %}
        {% endfor %}
    </div>

    {% if cart_items|length > 0 %}
        {% include 'order/create_form.twig' with { 'order_form': order_form } %}
    {% else %}
        <div class="empty-cart-message-wrapper">
            <h5>
                Корзина пуста :(
            </h5>
        </div>
    {% endif %}

{#    <div id="cart-action-buttons">#}
{#        <a href="{{ path('order_create') }}" class="btn btn-primary create_order-btn">Оформить заказ</a>#}
{#        <a href="{{ path('order_my_orders') }}" class="btn btn-success create_order-btn">Мои заказы</a>#}
{#    </div>#}

    <script>
        const cartItemsIdsInput = document.getElementById('cart_items_ids')

        // Добавление значений чекбоксов в форму
        document.getElementById('cart-items').addEventListener('change', function (e) {
            const checkedItemId = e.target.getAttribute('value')
            const cartItemsIds = cartItemsIdsInput.getAttribute('value')

            if (e.target["checked"]) {
                if (cartItemsIds.indexOf(checkedItemId) === -1) {
                    if (cartItemsIds === '')
                        cartItemsIdsInput.setAttribute('value', checkedItemId)
                    else
                        cartItemsIdsInput.setAttribute('value', cartItemsIds+' '+checkedItemId)
                }
            }
            else {
                if (cartItemsIds.indexOf(checkedItemId) !== -1) {
                    cartItemsIdsInput.setAttribute('value', cartItemsIds.replace(checkedItemId, ''))
                }
            }
        })

        // Стилизация радио инпутов

    </script>
{% endblock %}