{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    {{ include('@EasyAdmin/flash_messages.html.twig') }}
    <div id="cart-items">
        {% for cart_item in cart_items %}
            {% include 'pieces/cart_item_card.html.twig' with { 'cart_item': cart_item, 'descriptionArrayIndexes': descriptionArrayIndexes } %}
        {% endfor %}
    </div>

    {% if cart_items|length > 0 %}
        {% include 'order/create_form.twig' with { 'order_form': order_form } %}
    {% else %}
        <div class="empty-cart-message-wrapper">
            <h5>
                Корзина пуста :(
            </h5>
        </div>
    {% endif %}
{% endblock %}