<div class="card product-card" style="max-width: 15rem;">
    <div class="card-header d-flex product-card__header">
        <img class="card-img-top product-card__img" src="{{ product.imageLink }}" alt="Card image cap">
        <div class="product-card__info">
            <h5 class="card-title small product-card__cost">{{ product.price }} ₽</h5>
            <h5 class="text-muted small product-card__used" title="code">
                {% if product.used == 1 %}Б/У{% endif %}
            </h5>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text small">{{ product.name }}</p>
    </div>
</div>
