<div class="card product-card" style="max-width: 15rem;">
{#    <img class="card-img-top" src="https://proprikol.ru/wp-content/uploads/2021/11/fordy-krasivye-kartinki-45.jpg" alt="Card image cap">#}
    <div class="card-body">
        <h5 class="card-title small product-card__title"><span>391 ₽</span>
            <span class="text-muted small product-card__article" title="VIN">345lskfja</span>
        </h5>
        <p class="card-text small">Наконечник рулевой правый SKODA FABIA 99></p>
        <a href="#" class="small">Go somewhere</a>
    </div>
</div>
