{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title 'Обновление заказа' %}
{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form.order_status, { 'attr': { 'class': 'form-control', 'style': 'max-width: 30%;' } }) }}
    <br>
    <button type="submit" class="btn btn-success">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}