{% extends 'base.html.twig' %}

{% set search_form_class = 'search-form' %}
{% set search_form_id = 'search-form' %}
{% set search_form_query_ph = 'VIN | Номер кузова | Номер з/ч' %}

{% block title %}Главная{% endblock %}

{% block body %}

    <div class="search-form-container container">
        <h2>IGG Motors</h2>
        {{ form_start(search_form, { 'attr': {'class': 'search-form', 'id': search_form_id} }) }}
        {{ form_widget(search_form.query_string, { 'attr': {'class': 'form-control search-form__query', 'placeholder': search_form_query_ph} }) }}
        {{ form_end(search_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault()
                document.getElementById('{{ search_form_id }}').submit()
            }
        })
    </script>
{% endblock %}
