{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}

    <div class="container">
        {{ include('pieces/product_card.html.twig') }}
    </div>

{% endblock %}
