{% extends 'base.html.twig' %}
{% block body %}

    <div id="search-response">
        {% include 'pieces/details-tree.html.twig' with {'detail_groups': detail_groups, 'vehicle': vehicle} %}
        <div id="details-window">

        </div>
        <div id="product-info-modal" class="hidden">
            <div class="inner">
                <p class="name"></p>
                <p class="price"></p>

{#                <button type="button" class="btn btn-outline-danger add-to-cart">-1</button>#}
{#                <button type="button" class="btn btn-outline-primary add-to-cart">+1</button>#}
                <div class="product-info-modal-buttons">
                    <button type="button" class="btn btn-primary add-to-cart">В корзину</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
