{% extends 'base.html.twig' %}
{% block body %}

    <div id="search-response">
        {% include 'pieces/details-tree.html.twig' with {'detail_groups': detail_groups, 'vehicle': vehicle} %}
        <div id="details-window">

        </div>
    </div>
{% endblock %}
