{% extends 'base.html.twig' %}
{% block body %}

    <div id="search-response">
        {% include 'pieces/details-tree.html.twig' with {'detail_groups': detail_groups, 'vehicle': vehicle} %}
        <div id="details-window">

        </div>
        <div id="product-info-modal" class="hidden close-product-modal">
            <div class="inner">
                <h5 class="price"></h5>
                <p class="name"></p>

                <div class="product-info-modal-buttons">
                    <button type="button" class="btn btn-primary add-to-cart">В корзину</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
