@import '~bootstrap/scss/bootstrap';

$mainColor: red;
$mainColorMuted: #ff6a6a;

.hidden {
  display: none !important;
}

.shake {
  animation: shake .2s 5;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(3px); }
  100% { transform: translateX(0); }
}

header {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  .brand-form {
    display: flex;
    align-items: center;
  }
  .auth-item {
    .btn {
      border-radius: 0;
    }
  }
  .user-button {
    position: relative;
    .user-menu {
      position: absolute;
      right: -5px;
      top: 0;
      background: #fff;
      box-shadow: 0 0 5px #666;
      z-index: 10;
      .user-info {
        padding: 10px;
        .user-fullname {
          margin: 0;
        }
      }
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          border-radius: 0;
          border: none;
          &.cart-link {
            border-right: black 1px solid;
          }
          &.cart-link, &.order-link {
            position: relative;
            border-top: black solid 1px;
            .notifications-indicator {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: red;
              position: absolute;
              right: 1px;
              bottom: 25px;
            }
          }
          &.exit-link {
            border-top: red 1px solid;
          }
        }
      }
    }
    &__notifications-indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: red;
      position: absolute;
      right: -5px;
      bottom: 0;
    }
  }
  .subnavbar {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    padding-right: 1rem;
  }
  .nav-item {
    color: gray;
    cursor: pointer;
    margin-right: 1rem;
    position: relative;
    .counter {
      position: absolute;
      background-color: blue;
      color: #fff;
      font-size: 10px;
      text-align: center;
      width: 100%;
      border-radius: 5px;
    }
    &__menu {
      display: none;
      position: absolute;
      right: -20px;
      top: 100%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: normal;
      white-space: nowrap;
      box-shadow: 0 4px 12px rgba(0,0,0,.175);
      padding: 13px 0;
      background-color: #fff;
      &-item {
        line-height: 22px;
        font-size: 13px;
        padding: 3px 20px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: red;
      & .nav-item__menu {
        display: block;
      }
    }
  }
  .underheader-catalog {
    display: inline-block;
    position: absolute;
    &-button {
      position: relative;
      background: #ff4a4a;
      color: #fff;
      padding: .5rem 9.5rem;
      &__arrow {
        width: 13px;
        height: 13px;
        border-bottom: 2px #fff solid;
        border-right: 2px #fff solid;
        position: absolute;
        right: 20px;
        top: 11px;
        transform: rotate(45deg);
      }
    }
    &__menu {
      border: 1px red solid;
      display: none;
      &-item {
        padding: .5rem 1.5rem;
        color: gray;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        &:hover {
          background-color: #f3f3f3;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    &:hover {
      .underheader-catalog__menu {
        display: block;
      }
    }
  }
}
.navbar-brand {
  color: $mainColor;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__title {
    line-height: 25px;
  }
  &__undertitle {
    font-size: 11px;
    line-height: 5px;
  }
}

.details404 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 83vh;
  &icon {
    width: 100px;
    color: gray;
  }
}

.left_arrow, .right_arrow {
  width: 20px;
  height: 20px;
  border-left: 3px #fff solid;
  border-top: 3px #fff solid;
  position: absolute;
  cursor: pointer;
  &:hover {
    border-color: red;
  }
}

.left_arrow {
  transform: rotate(-45deg);
  left: 150px;
}

.right_arrow {
  transform: rotate(135deg);
  right: 150px;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  .client-type-links {
    display: flex;
  }
  input {
    border-radius: 0;
  }
  .btn {
    width: 100%;
    border-radius: 0;
  }
  .input-group-selects {
    & > div {
      width: 50% !important;
    }
  }
}

.order-form-container {
  input {
    margin-bottom: .3rem;
    max-width: 600px;
  }
  input[type='radio'] {
    margin-right: 3px;
  }
  .way_to_get {
    label {
      margin-right: 1rem;
    }
  }
  .loader {
    margin: 2rem 0;
  }
  .calculate-data {
    padding: 1rem 0;
    color: gray;
  }
  .order-form__buttons {
    transition: all 5ms;
    .dellin-calculation-buttons {
      display: flex;
      align-items: center;
      button {
        margin-right: .3rem;
      }
      .calculate-btn-tip {
        font-size: 25px;
        font-weight: bold;
        color: red;
        cursor: help;
      }
    }
  }
}

.unit-card {
  display: flex;
  margin-bottom: 1rem;
  &__img-wrapper {
    width: 200px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
    .img-zoom {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.3);
      color: #dfdfdf;
      font-size: 1.5rem;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      mix-blend-mode: multiply;
    }
    &:hover {
      .img-zoom {
        display: flex;
      }
    }
  }
  &__info {
    padding-top: 5px;
    a {
      color: grey;
      &:hover {
        color: red;
      }
    }
  }
  &__unit-code {
    color: cornflowerblue;
  }
}

.product-card {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px #d6d6d6;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: .1s;
  cursor: pointer;
  max-height: 100px;
  overflow: hidden;
  &:hover {
    box-shadow: 0 0 30px #d6d6d6;
  }
  & p {
    margin: 0;
  }
  &__used {
    position: absolute;
    top: 5px;
    right: 7px;
    color: #aab8c3;
    font-weight: bold;
  }
  &__actions {
    margin-top: 1rem;
    &-add_to_cart {
      color: #ff9e9e;
      cursor: pointer;
      &:hover {
        color: #ff4343;
      }
    }
  }
  &__img-wrapper {
    max-width: 20%;
    padding: .5rem;
    position: relative;
    .img-zoom {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      display: none;
      justify-content: center;
      align-items: center;

      background: rgba(0, 0, 0, 0.3);
      color: #dfdfdf;
      font-size: 1.5rem;
    }
    &:hover {
      .img-zoom {
        display: flex;
      }
    }
  }
  &__img {
    max-width: 100% !important;
    max-height: 100%;
  }
  &__info {
    padding: 1rem 6rem 1rem 1rem;
    flex-basis: 60%;
    flex-grow: 1;
  }
}

.cart-item-card {
  width: 100%;
  box-shadow: 0 0 5px #d6d6d6;
  margin-bottom: 1rem;
  border-radius: 5px;
  &__content {
    display: flex;
    padding: .5rem;
  }
  &__left {
    display: flex;
    flex-grow: 1;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__img-wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100px;
    margin-right: 1rem;
    background: #3b3b3b;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__info {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  &__action-buttons {
    display: flex;
    color: #c37b7b;
    align-items: center;
    i {
      margin-right: 3px;
      font-size: 15px;
    }
  }
  &__delete-btn {
    margin-right: 1rem;
    &:hover {
      color: red;
      cursor: pointer;
    }
  }
  &__quantity-counter {
    width: 95px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
  }
  &__minus-btn, &__amount, &__plus-btn {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__minus-btn {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  &__plus-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__minus-btn.disabled, &__plus-btn.disabled {
    background: #f2f2f2 !important;
    color: grey !important;
    cursor: default !important;
  }
  &__minus-btn:hover, &__plus-btn:hover {
    background: black;
    color: white;
    cursor: pointer;
  }

  &__name {
    max-height: 45px;
    margin-bottom: auto;
    overflow: hidden;
    color: gray;
    &:hover {
      color: red;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

#orders {
  display: flex;
  flex-wrap: wrap;
  .order-card {
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-shadow: 0 0 5px #d6d6d6;
    position: relative;
    .card-text, .card-title {
      display: flex;
      justify-content: space-between;
    }
    a {
      color: grey;
      &:hover {
        color: red;
      }
    }
  }
}
.order-table {
  border-radius: 3px;
  border: .5px #ddd solid;
  margin-bottom: 3rem;
  .order-row {
    display: flex;
    border-bottom: .5px #ddd solid;

    .order-label, .order-value {
      padding: 5px 1rem;
    }

    .order-label {
      width: 30%;
      background-color: #f8f8f8;
    }
  }
  a {
    color: grey;
    &:hover {
      color: red;
    }
  }
}

.order-comment-items {
  height: 25vh;
  overflow-y: auto;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
  word-wrap: break-word;
}

.detail-cards-wrapper {
  background-color: #fff;
  width: 40%;
  height: 70vh;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}

#product-info-modal, #not-authorized-alert-modal, .custom-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);

  .modal-inner-fullscreen {
    width: 99%;
    height: 98vh;
    background-color: #fff;
    border-radius: 5px;
  }
  .inner {
    width: 30%;
    padding: 1rem;
    border-radius: 4px;
    background: #fff;
    .name {
      margin-bottom: .5rem;
    }
    .product-info-modal-buttons {
      margin-top: 1rem;
    }
    a {
      text-decoration: none;
    }
    .product-modal-counter {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  img {
    max-width: 50%;
  }

  .custom-calculation-modal-window {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 7px;

    &__subtitle {
      color: grey;
    }
  }
}

.unit-nodes-window {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  .js-close-units-modal {
    position: absolute;
    right: 1.3rem;
    top: .5rem;
    color: red;
    cursor: pointer;
    &:hover {
      color: grey;
    }
  }

  .left {
    width: 50%;
    height: 100%;
    .unit-nodes-image-map {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
      img {
        max-width: 100%;
        max-height: 100%;
      }
      .map-objects-wrapper {
        .map-object {
          border: 1px solid grey;
          cursor: pointer;
          &.hovered {
            border-color: mediumvioletred;
            border-width: 2px;
            background-color: rgba(129, 175, 226, .24);
          }
          &.active {
            border-color: red;
            border-width: 3px;
            //background-color: rgba(129, 175, 226, .24);
          }
        }
      }
    }
  }
  .right {
    width: 50%;
    padding: 2rem 0 0 2rem;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    .header {
      .right-subtitle {
        color: grey;
        padding-left: 3px;
      }
    }
    .units-list {
      overflow-y: auto;
      max-height: 90%;
      &-item {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 8px;
        padding: 8px 0 11px 8px;
        border-top: solid thin #e6e9ed;
        &.hovered {
          background-color: lightyellow;
        }
        &.active {
          background-color: #b9f3ff;
        }

        .order {
          min-width: 85px;
          color: rgba(0, 0, 0, 0.56);
          font-size: 14px;
          line-height: 20px;
        }
        .name {
          min-width: 330px;
          max-width: 330px;
          margin-left: 6px;
          color: rgba(0, 0, 0, 0.87);
          font-size: 16px;
          line-height: 20px;
        }
        .number {
          width: 90px;
          margin-left: 8px;
          white-space: nowrap;
        }
        .link {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 138px;
          margin-left: 40px;
          color: #658bb5;
          font-size: 16px;
          line-height: 20px;
          text-align: right;
          text-decoration: none;
          white-space: nowrap;

          &:hover {
            color: red;
          }
        }
      }
    }
  }
}

.detail-full-info {
  background: #fff;
  height: 80%;
  width: 50%;
  padding: 1rem 2rem;
  border-radius: 7px;
  &__name {
    margin-bottom: 2rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 50%;
  }
  &__right {
    padding-top: 1rem;
    width: 35%;
  }
  &__img-wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    max-height: 310px;
    overflow: hidden;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    &-item {
      width: 100px;
      margin-bottom: 7px;
      margin-right: 12px;
      border: 2px solid #fff;
      overflow: hidden;
      cursor: pointer;
      img {
        max-width: none;
        width: 100%;
      }
      &:hover {
        border-color: grey;
      }
      &.active {
        border-color: red;
      }
    }
  }
  &__info {
    .info-row {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid gainsboro;
      span:first-child {
        font-weight: bold;
        color: #707f8d;
      }
      span:last-child {
        font-weight: bold;
      }
    }
  }
  &__quantity-counter {
    width: 101px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
  }
  &__minus-btn, &__amount, &__plus-btn {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__minus-btn {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  &__plus-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__minus-btn.disabled, &__plus-btn.disabled {
    background: #f2f2f2 !important;
    color: grey !important;
    cursor: default !important;
  }
  &__minus-btn:hover, &__plus-btn:hover {
    background: black;
    color: white;
    cursor: pointer;
  }
}

.search-form--mini-wrapper {
  position: relative;
  .search-form-mini-submit {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 13px;
  }
}

.search-form-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .search-form-wrapper {
    position: relative;
    & .search-form-submit {
      position: absolute;
      right: 15px;
      top: 13px;
      color: gray;
      cursor: pointer;
      &:hover {
        color: $mainColor;
      }
    }
  }
  & .search-form {
    width: 35%;
    height: 30px;
  }
  h2 {
    color: $mainColor;
  }
  a {
    color: grey;
    &:hover {
      color: red;
    }
  }
}

#search_form_query_string_mini {
  min-width: 300px;
}

.search-form {
  &__query {
    border-radius: 20px;
    text-align: center;
  }
  &--mini {
    & .search-form__query {
      font-size: 13px;
      height: 25px;
    }
  }
}

.brands-wrapper {
  background-color: #fff;
  width: 60%;
  max-height: 70vh;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  grid-gap: 1rem 4rem;
  justify-items: center;

  &__item, &__model-item {
    text-align: center;
    width: 140px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    transition: background-color 3ms;
    &:hover {
      background-color: #fff1f4;
    }
    a {
      color: grey;
      &:hover {
        color: red;
      }
    }
    img {
      cursor: pointer;
      width: 50px;
    }
  }
}

#search-response {
  display: flex;
  justify-content: space-between;
  .tree {
    width: 40%;
    a {
      display: block;
      color: grey;
      &:hover {
        color: red;
      }
      padding: 3px 3px;
    }
    .title {
      margin: 0;
    }
    .parent, .root {
      .head {
        display: flex;
        align-items: center;
        .icon {
          margin-right: 1rem;
          .arrow {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .root .parent {
      cursor: pointer;
      .head {
        padding: 3px 6px;
      }
      &:hover {
        & > .head {
          background: #f0f0f0;
        }
      }
      & > .children {
        display: none;
      }
      &.opened {
        & > .head > .icon .arrow {
          background: red;
          transform: rotate(45deg);
        }
        & > .children {
          display: block;
        }
      }
      .icon .arrow {
        transition: .1s;
        background: #767676;
      }
    }
    .root .icon .arrow {
      background: black;
    }
    .children {
      padding-left: 3rem;
    }
  }
  #details-window {
    width: 65%;
    .loader {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 83vh;
    }
  }
}
#oem-search-response {
  .oem-table {
    &__header {
      display: flex;
      &-cell {
        width: 10%;
        &.name {
          width: 25%;
        }
      }
    }
  }
}

#search-result-accordion-item {
  .product-card {
    border-bottom: #ccc solid 1px;
  }
}

.table-product-card {
  padding: 5px;
  align-items: normal;
  box-shadow: none;
  //border-top: 1px solid grey;
  border-radius: 0;
  cursor: default;
  &:hover {
    box-shadow: none;
  }
  &__field {
    width: 10%;
    color: #6c6c6c;
    &.name {
      width: 25%;
    }
  }
  .js-add-to-cart, .js-show-details {
    cursor: pointer;
    color: cornflowerblue;
    &:hover {
      color: red;
    }
  }
}

#page-product-search-input {
  margin-bottom: 1rem;
  background: #F1F1F1;
}

#cart-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  & .card {
    margin-right: 1rem;
  }
}

#cart-action-buttons {
  position: fixed;
  bottom: 2rem;
}

.empty-cart-message-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.user-settings-form-container {
  & input {
    width: 50%;
  }
}

.org-info-table {
  line-height: 2;
  &__row {
    display: flex;
  }
  &__field {
    font-weight: bold;
    color: grey;
    min-width: 350px;
  }
  &__value {
    color: grey;
  }
}

.big-text {
  line-height: 1.8;
  max-width: 1000px;
}

.guarantees_info {
  p {
  }
}