@import '~bootstrap/scss/bootstrap';

.hidden {
  display: none !important;
}

header {
  .brand-form {
    display: flex;
    align-items: center;
  }
  .auth-item {
    .btn {
      border-radius: 0;
    }
  }
  .user-button {
    position: relative;
    .user-menu {
      position: absolute;
      right: 0;
      top: 0;
      background: #fff;
      box-shadow: 0 0 5px #d6d6d6;
      .user-info {
        padding: 10px;
        .user-fullname {
          margin: 0;
        }
      }
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          border-radius: 0;
        }
      }
    }
  }
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  input {
    border-radius: 0;
  }
  .btn {
    width: 100%;
    border-radius: 0;
  }
}

.product-card {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px #d6d6d6;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: .1s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 30px #d6d6d6;
  }
  & p {
    margin: 0;
  }
  &__used {
    position: absolute;
    top: 5px;
    right: 7px;
    color: #aab8c3;
    font-weight: bold;
  }
  &__actions {
    margin-top: 1rem;
    &-add_to_cart {
      color: #ff9e9e;
      cursor: pointer;
      &:hover {
        color: #ff4343;
      }
    }
  }
  &__img-wrapper {
    max-width: 20%;
    padding: .5rem;
    position: relative;
    .img-zoom {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      display: none;
      justify-content: center;
      align-items: center;

      background: rgba(0, 0, 0, 0.3);
      color: #dfdfdf;
      font-size: 1.5rem;
    }
    &:hover {
      .img-zoom {
        display: flex;
      }
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__info {
    padding: 1rem 6rem 1rem 1rem;
    flex-basis: 60%;
    flex-grow: 1;
  }
}
#product-info-modal, #not-authorized-alert-modal, .custom-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  .inner {
    width: 40%;
    padding: 1rem;
    border-radius: 4px;
    background: #fff;
    .name {
      margin-bottom: .5rem;
    }
    .product-info-modal-buttons {
      margin-top: 1rem;
    }
    a {
      text-decoration: none;
    }
    .product-modal-counter {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  img {
    max-width: 50%;
  }
}
.detail-full-info {
  background: #fff;
  overflow: scroll;
  height: 90%;
  width: 90%;
}

.search-form-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & .search-form {
    width: 30%;
    height: 30px;
  }
}

.search-form {
  &__query {
    border-radius: 20px;
    text-align: center;
  }
  &--mini {
    & .search-form__query {
      font-size: 13px;
      height: 25px;
    }
  }
}

#search-response {
  display: flex;
  justify-content: space-between;
  .tree {
    width: 40%;
    a {
      display: block;
      color: grey;
      padding: 3px 3px;
      &:hover {
        color: red;
      }
    }
    .title {
      margin: 0;
    }
    .parent, .root {
      .head {
        display: flex;
        align-items: center;
        .icon {
          margin-right: 1rem;
          .arrow {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .root .parent {
      cursor: pointer;
      .head {
        padding: 3px 6px;
      }
      &:hover {
        & > .head {
          background: #f0f0f0;
        }
      }
      & > .children {
        display: none;
      }
      &.opened {
        & > .head > .icon .arrow {
          background: red;
          transform: rotate(45deg);
        }
        & > .children {
          display: block;
        }
      }
      .icon .arrow {
        transition: .1s;
        background: #767676;
      }
    }
    .root .icon .arrow {
      background: black;
    }
    .children {
      padding-left: 3rem;
    }
  }
  #details-window {
    width: 65%;
    .loader {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 83vh;
    }
    .details404 {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 83vh;
      &icon {
        width: 100px;
        color: gray;
      }
    }
  }
}

#cart-items {
  display: flex;
  flex-wrap: wrap;
  & .card {
    margin-right: 1rem;
  }
}

#cart-action-buttons {
  position: fixed;
  bottom: 2rem;
}