{% extends 'base.html.twig' %}

{% block title %} Доставка {% endblock %}

{% block body %}

    <div class="delivery_info" style="margin-bottom: 3rem">
        <h4>Доставка</h4>
        <p class="big-text">
            Компания IGG motors  предлагает большой выбор запчастей с доставкой по России, Казахстану и Республики Беларусь.
            Для своих клиентов мы предлагаем доставку  по всей стране или до терминалов транспортных компаний.
            Отгрузка заказов происходит после 100% предоплаты на счет продавца.
            Срок отправки. В течение 2-3 дней с момента поступления оплаты ваш заказ будет упакован и передан в службу доставки или транспортную компанию.
        </p>
        <h6>Доставка по Санкт-Петербургу</h6>
        <p class="big-text">
            Вы можете заказать доставку запчастей до адреса в Санкт-Петербурге любым из способов:
            - обратившись к менеджеру по телефону {{ company_manager_contact_phone }}
            в Санкт-Петербурге
            - написав в удобный Мессенджер
            Стоимость: рассчитывается в момент обращения, зависит от габаритов заказа и дорожной обстановки
            Время доставки: до 2-х часов**
            Временной интервал оформления заказа с доставкой: с 10:00 до 21:00.
            Способ оплаты заказа с доставкой: онлайн-оплата при оформлении заказа.
        </p>
    </div>

    <div class="guarantees_info">
        <h4>Гарантия на запасные части</h4>
        <p class="big-text">
            На все приобретенные в магазине IGG MOTORS новые запчасти распространяется гарантия от 2 до 6 месяцев или 10 000 км пробега.
            Если Вы устанавливаете купленную запчасть на СТО IGG Motors , Вам дается расширенная гарантия сроком на 6 месяцев. Если установка новой запасной части производится на сторонней  СТО - гарантия 2 месяца.
            На запасные части, бывших в употреблении, предоставляется срок 14 дней на проверку/установку с момента получения товара в магазине, ПВЗ или курьером, либо с момента получения автомобиля после установки купленных запчастей на СТО IGG motors .
            Важно: на все б/у детали специалисты нашей организации наносят специальные отметки краской и/или идентификационные стикеры. При установке деталей на автомобиль запрещается смывать, уничтожать, снимать или частично повреждать эти отметки. В противном случае претензии по качеству запасных частей рассматриваться не будут, денежные средства не возвращаются.
        </p>
    </div>

{% endblock %}