{% extends 'base.html.twig' %}

{% block title %}Мои заказы{% endblock %}

{% block body %}
    <div id="orders">
        {% for order in orders %}
            {% include 'pieces/order_card.html.twig' with { 'order': order } %}
        {% endfor %}
    </div>
{% endblock %}
