{% extends 'base.html.twig' %}

{% block title %}Мои заказы{% endblock %}

{% block body %}
    {% if orders|length > 0 %}
        <div id="orders">
            {% for order in orders %}
                {% include 'pieces/order_card.html.twig' with { 'order': order, 'statuses': statuses } %}
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-cart-message-wrapper">
            <h5 style="width: 150px; text-align: center">
                Вашей машине грустно, когда тут пусто :(
            </h5>
        </div>
    {% endif %}
{% endblock %}
